<a href="https://colab.research.google.com/github/Chan0226/Recommendation-system/blob/main/%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C_Word2Vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.kaggle.com/rounakbanik/the-movies-dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movie =  pd.read_csv('/content/ratings.csv',low_memory=False)
movie = movie.rename(columns={'movieId' : 'id'})
print(movie.shape)
movie.head()

(4324793, 4)

   userId    id  rating   timestamp
0       1   110     1.0  1425941529
1       1   147     4.5  1425942435
2       1   858     5.0  1425941523
3       1  1221     5.0  1425941546
4       1  1246     5.0  1425941556

In [ ]:
movie = movie.sort_values(by = 'timestamp').reset_index()

movie.head()

     index  userId    id  rating  timestamp
0  4324792   44815  4995     4.5     108544
1  3662481   38150  1176     4.0  789652004
2  4313954   44717  1079     3.0  789652009
3  4313911   44717    47     5.0  789652009
4  4313905   44717    21     3.0  789652009

In [ ]:
movie_meta = pd.read_csv('/content/movies_metadata.csv', low_memory=False)
movie_meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
movie_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
movie_meta['id'] = movie_meta['id'].astype(str)
movie['id'] = movie['id'].astype(str)

In [ ]:
movie_meta = pd.merge(movie, movie_meta[['id', 'original_title']], how = 'left', on = 'id')

In [ ]:
movie_meta.head()

     index  userId    id  rating  timestamp      original_title
0  4324792   44815  4995     4.5     108544       Boogie Nights
1  3662481   38150  1176     4.0  789652004                 NaN
2  4313954   44717  1079     3.0  789652009                 NaN
3  4313911   44717    47     5.0  789652009                 NaN
4  4313905   44717    21     3.0  789652009  The Endless Summer

In [ ]:
movie_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4324973 entries, 0 to 4324972
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   index           int64
 1   userId          int64
 2   id              object
 3   rating          float64
 4   timestamp       int64
 5   original_title  object
dtypes: float64(1), int64(3), object(2)
memory usage: 231.0+ MB

In [ ]:
movie_meta = movie_meta[movie_meta['original_title'].notnull()].reset_index()

In [ ]:
# movie_meta.groupby(['userId'])['rating'].agg({'sum','count'})
agg = movie_meta.groupby(['userId'])['original_title'].agg({'unique'})
agg = pd.DataFrame(agg)
agg.head()

                                                   unique
userId
1       [Young and Innocent, Shuang ma lian huan, Cesa...
2       [La passion de Jeanne d'Arc, La belle et la bê...
3       [I Love You to Death, Once Were Warriors, Mons...
4       [Muxmäuschenstill, Batman & Robin, Hidalgo, 12...
5       [Star Trek III: The Search for Spock, The Curs...

In [ ]:
agg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20082 entries, 1 to 20452
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  20082 non-null  object
dtypes: object(1)
memory usage: 313.8+ KB

In [ ]:
# Word2vec -- 문자
# agg.index = agg.index.astype(str)
test = []
for i in agg['unique'].values:
  test.append(list(map(str,i)))

test[1:10]

[["La passion de Jeanne d'Arc",
  'La belle et la bête',
  'Donnie Darko',
  'Jarhead',
  'The 39 Steps',
  'Four Rooms',
  'Almost Famous',
  'Mrs. Doubtfire',
  'Monty Python and the Holy Grail',
  'Interview with the Vampire',
  '英雄',
  "Pirates of the Caribbean: Dead Man's Chest",
  'Hable con ella',
  'The Matrix Revolutions',
  'Parenthood',
  'A Nightmare on Elm Street',
  'Night on Earth'],
 ['I Love You to Death',
  'Once Were Warriors',
  'Monsoon Wedding',
  'Reservoir Dogs',
  'Sleepless in Seattle',
  'The Third Man',
  'My Super Ex-Girlfriend',
  'Fools Rush In'],
 ['Muxmäuschenstill',
  'Batman & Robin',
  'Hidalgo',
  '12 + 1',
  'Tuya de hun shi',
  'Reign Over Me',
  'Rebecca',
  'The 13th Warrior',
  'Der Tunnel',
  'Furankenshutain Tai Chitei Kaijū Baragon',
  'ฟ้าทะลายโจร',
  'Der rote Elvis',
  'Young and Innocent',
  'The Searchers',
  'Shriek If You Know What I Did Last Friday the Thirteenth',
  "L'important c'est d'aimer",
  'The Prisoner of Zenda',
  'Don Juan DeMarco',
  'A Time to Kill',
  'Meet the Parents',
  'La belle et la bête',
  'The Vanishing',
  'The Departed'],
 ['Star Trek III: The Search for Spock',
  'The Curse of Frankenstein',
  'The Searchers',
  'Sleepless in Seattle',
  'Murder She Said',
  'Nell',
  'The Man with the Golden Arm',
  'Terminator 3: Rise of the Machines',
  "Je vais bien, ne t'en fais pas",
  'Breakdown'],
 ['Joe Versus the Volcano', 'Star Wars'],
 ['The Million Dollar Hotel',
  'License to Wed',
  '5 Card Stud',
  'Bad Boys II',
  'A River Runs Through It',
  'Confession of a Child of the Century',
  'Muxmäuschenstill',
  'Longitude',
  'Cousin, Cousine',
  'Ober',
  'The Garden of Eden',
  'Yesterday',
  'Le Bossu',
  'مسافر',
  'House of Dracula',
  'New York Doll',
  'Shuang ma lian huan',
  '座頭市関所破り',
  'Once in a Lifetime: The Extraordinary Story of the New York Cosmos',
  'Die Frau mit den 5 Elefanten'],
 ['¡Átame!',
  "Cassandra's Dream",
  'Fools Rush In',
  'Muxmäuschenstill',
  'The Thomas Crown Affair',
  '28 Days Later',
  '5 Card Stud',
  'Carry On Doctor',
  'Montag kommen die Fenster',
  'Rendition',
  'Christine',
  'Young and Innocent',
  'Prime',
  'Bridge to Terabithia',
  'Diarios de motocicleta',
  'Dogville',
  "Don't Come Knocking",
  'Final Fantasy VII: Advent Children',
  'My Tutor',
  'The Guardian',
  'Lifeguard',
  'Drop Zone',
  'Hot Fuzz',
  'Frankenstein',
  'Nuits rouges',
  'Hard Target',
  'Kolja',
  '怪獣総進撃',
  'Wasabi',
  'Le Secret',
  'Modern Times',
  'Street Kings',
  'Furankenshutain no Kaijū: Sanda tai Gaira',
  'Greed',
  'Space Jam',
  'M',
  'Dr. Jekyll and Mr. Hyde',
  'Barry Lyndon',
  '菊次郎の夏',
  'Nirgendwo in Afrika',
  'Ae Fond Kiss...',
  'A Perfect Murder',
  'Teenage Mutant Ninja Turtles III',
  'Taxi 3',
  'Monsters, Inc.',
  'Vivre sa vie: film en douze tableaux',
  'The Men',
  'Dog Day Afternoon',
  'Stuck on You',
  'The Million Dollar Hotel',
  'Nosferatu, eine Symphonie des Grauens',
  'Mr. Deeds'],
 ['The Terminal',
  'Reign Over Me',
  'Murder She Said',
  'The Green Mile',
  'Y tu mamá también',
  'Local Color',
  'Mosura tai Gojira',
  'Diarios de motocicleta',
  'Sommersturm',
  'Will Penny',
  'Heathers',
  'Sous le Sable',
  'Shriek If You Know What I Did Last Friday the Thirteenth',
  '5 Card Stud',
  'And Then There Were None',
  'A Bridge Too Far',
  'Der letzte Mann',
  'Muxmäuschenstill',
  'Ober',
  '隠し砦の三悪人',
  'Montag kommen die Fenster',
  'Astérix aux Jeux Olympiques',
  'Young and Innocent',
  'The Searchers',
  'Rocky Balboa',
  'Stranger Than Fiction',
  '48 Hrs.',
  'Married to the Mob'],
 ['Terminator 3: Rise of the Machines',
  '48 Hrs.',
  'The Hours',
  'Rain Man',
  'The Conversation',
  'Lost in Translation',
  'Crustacés et coquillages',
  'Back to the Future Part II',
  'Silent Hill',
  'Bang Boom Bang - Ein todsicheres Ding',
  'Солярис',
  'To Kill a Mockingbird',
  'Sissi']]

In [ ]:
from gensim.models import Word2Vec
model =  Word2Vec(test,size = 20, window = 5, min_count =1, workers=4,iter=10,sg=1)

In [ ]:
model.wv.most_similar(positive=['Taxi 3'], topn=10)

[('Rent', 0.9525529146194458),
 ('Stuck on You', 0.9471043348312378),
 ('Erkan & Stefan in Der Tod kommt krass', 0.9425098896026611),
 ('Escape from the Planet of the Apes', 0.906892716884613),
 ("L'Enfant sauvage", 0.8924970030784607),
 ("La Marche de l'empereur", 0.8875250220298767),
 ('綠草地', 0.8772715926170349),
 ('Transformers', 0.8616079092025757),
 ('Bordertown', 0.8615713119506836),
 ('Secret Window', 0.8482496738433838)]